
@font-face {
				font-family: 'BerlinSansFB-Reg';
				src: url('brlnsr.eot');
				src: url('brlnsr.eot?#iefix') format('embedded-opentype'),
						 url('brlnsr.woff') format('woff'),
						 url('brlnsr.ttf') format('truetype'),
						 url('brlnsr.svg#brlnsr') format('svg');
				font-weight: normal;
				font-style: normal;
		}

}

